@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #EAEBEF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.nav{
    width: 380px;
}

.nav_link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav_link--inside{
    border-radius: 6px;
    padding-left: 20px;
}

.nav_link--inside:hover{
    background: #f6f8fa;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 24px 24px 0;
    background: #fff;
}

.list_item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list_item--click{
    cursor: pointer;
}

.list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list_arrow{
    transform: rotate(90deg);
}

.list_arrow{
    margin-left: auto;
    transform: transform .3s;

}

.list_show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.content_article{
    margin-left: 400px;
    margin-top: -700px;
    width: auto;
}

/*Pruebas-citas*/

.content_article_citas{
    margin-left: 700px;
    margin-top: -700px;
    width: auto;
}

.content_aside_citas{
    margin-left: 400px;
    /* margin-top: -700px; */
    width: auto;
}